body {

    color: #fff;
    background: linear-gradient(145deg, #7ab081, #0b4b76, #3c35a3, #6335a3, #2b3219, #227b4d);
    background-size: 1200% 1200%;

    -webkit-animation: bgAnimated 32s ease infinite;
    -moz-animation: bgAnimated 32s ease infinite;
    -o-animation: bgAnimated 32s ease infinite;
    animation: bgAnimated 32s ease infinite;
}
@-webkit-keyframes bgAnimated {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes bgAnimated {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-o-keyframes bgAnimated {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes bgAnimated {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}


.simbol {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 18px;
}

.simbol:before, .simbol:after {
    content: '';
    display: block;
    position: relative;
    width: 27px;
    height: 1px;
    background: #fff;
}

.simbol span {
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid #fff;
}

.menu-item {
    margin-right: 30px;
    color: #fff;
}

.menu-item:hover{
   color: rgba(0,0,0,.5);
    border-bottom: 10px;
   text-decoration: underline #fff;
}

header{
    float:right;
}


h4 {
    text-align: left;
}

.l {
    text-align: left;
}

.socials-icons {
    color: #fff;
    text-decoration: none;
}

.socials-icons:hover{
    color: rgba(0,0,0,.5);
}

nav ul {
    margin:0 0 10px -30px;
    list-style:none;
}

nav ul li{
    padding:10px;
    margin-left: 10px;
}


.form {
    height: auto;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: #252729;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .25rem;
    width: 100%;
}


/*.copyright-container {
    padding: 130px;
    float:right;
}*/

.socials-icons ul li{
    text-decoration: none;
}

footer p {
    margin:0;
    padding-top: 140px;
    padding-left: 700px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(219,219,219, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.home {
    margin-top: 200px;
}
.about{
    margin-top: 130px;
}
.subscribe{
    margin-top: 130px;
}
.servise{
    margin-top: 100px;
}
.contact{
    padding-top: 50px;
}

@media (max-width: 576px) {
    .navbar.navbar-expand-lg.fixed-top  {
        background-color: #252729;
    }
    footer {
        height: 150px;
        color: #252729;
        background-color: #fff;
        justify-content: center;
    }
    footer p {
        align-content: center;
        margin:0;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 30px;
        padding-bottom: 10px;
    }
    nav ul li{
        display:inline;
    }
    .copyright-container {
        float: none;
        padding-top: 50px;
        justify-content: center;
    }
    .fa {
        color: #252729;
    }
    #navbarNavDropdown {
        /*background-color: #252729;*/
        text-align: center;
        margin-left: 30px;
    }
    .home {
        margin-top: 0;
    }
    .about {
        margin-top: 20px;
    }
    .subscribe{
        margin-top: 100px;
    }
    .servise{
        margin-top: 100px;
    }
    .contact{
        padding-top: 50px;
    }

}


@media (max-width: 768px) {
    .navbar.navbar-expand-lg.fixed-top  {
        background-color: #252729;
    }
    footer {
        height: 150px;
        color: #252729;
        background-color: #fff;
        justify-content: center;
    }
    nav ul li{
        display:inline;
    }
    .copyright-container {
        float: none;
        padding-top: 50px;
        justify-content: center;
    }
    .fa {
        color: #252729;
    }
    #navbarNavDropdown {
        /*background-color: #252729;*/
        text-align: center;
    }
    .home {
        margin-top: 100px;
    }
    .about {
        margin-top: 20px;
    }
    .subscribe{
        margin-top: 100px;
    }
    .servise{
        margin-top: 100px;
    }
    .contact{
        padding-top: 50px;
    }
}


@media (max-width: 992px) {
    .navbar.navbar-expand-lg.fixed-top  {
        background-color: #252729;
    }
    footer {
        height: 150px;
        color: #252729;
        background-color: #fff;
        justify-content: center;
    }
    nav ul li{
        display:inline;
    }
    .copyright-container {
        float: none;
        padding-top: 50px;
        justify-content: center;
    }
    .fa {
        color: #252729;
    }
    #navbarNavDropdown {
        /*background-color: #252729;*/
        text-align: center;
    }
    .home {
        padding-top: 130px;
    }
    .about {
        margin-top: 50px;
    }
    .subscribe{
        margin-top: 100px;
    }
    .servise{
        margin-top: 100px;
    }
    .contact{
        padding-top: 50px;
    }
}


@media (max-width: 1200px) {
    .home {
        margin-top: 230px;
    }
    .about {
        margin-top: 100px;
    }

    .subscribe{
        margin-top: 100px;
    }
    .servise{
        margin-top: 100px;
    }
    .contact{
        padding-top: 100px;
    }
}